<div class="interest-categories">
    <div class="container">
        <div class="left-section">
            <p class="title-section">Categorías que Te pueden interesar</p>
            <div class="categories">
                <div class="categorie">
                    <img class="categorie__img" src="./../../../assets/img/Categoría (1).png" alt="" width="288" height="130">
                    <div class="categorie__text">
                        <h3 class="categorie__text__title">Estudio indica que empleados están listos para un modelo híbrido de trabajo</h3>
                        <p class="categorie__text__description">Según la consultora B+SAFE, una mayoría de los trabajadores optaría por trabajar desde casa alternando con el laburo en oficina. ¿Qué hay que ...</p>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
                <div class="categorie">
                    <img class="categorie__img" src="./../../../assets/img/Categoría (2).png" alt="" width="288" height="130">
                    <div class="categorie__text">
                        <h3 class="categorie__text__title">Estudio indica que empleados están listos para un modelo híbrido de trabajo</h3>
                        <p class="categorie__text__description">Según la consultora B+SAFE, una mayoría de los trabajadores optaría por trabajar desde casa alternando con el laburo en oficina. ¿Qué hay que ...</p>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
                <div class="categorie">
                    <img class="categorie__img" src="./../../../assets/img/Categoría (3).png" alt="" width="288" height="130">
                    <div class="categorie__text">
                        <h3 class="categorie__text__title">Estudio indica que empleados están listos para un modelo híbrido de trabajo</h3>
                        <p class="categorie__text__description">Según la consultora B+SAFE, una mayoría de los trabajadores optaría por trabajar desde casa alternando con el laburo en oficina. ¿Qué hay que ...</p>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
                <div class="categorie">
                    <img class="categorie__img" src="./../../../assets/img/Categoría (4).png" alt="" width="288" height="130">
                    <div class="categorie__text">
                        <h3 class="categorie__text__title">Estudio indica que empleados están listos para un modelo híbrido de trabajo</h3>
                        <p class="categorie__text__description">Según la consultora B+SAFE, una mayoría de los trabajadores optaría por trabajar desde casa alternando con el laburo en oficina. ¿Qué hay que ...</p>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-section">
            <p class="title-section">Otros leyeron</p>
            <div class="articles">
                <div class="article">
                    <img class="article__img" src="./../../../assets/img/Rectangle 8 (1).png" alt="" width="288" height="172">
                    <div class="article__information">
                        <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                        <p class="article__information__text">El sector sigue experimentando un crecimiento saludable</p>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <img class="article__img" src="./../../../assets/img/Rectangle 8 (1).png" alt="" width="288" height="172">
                    <div class="article__information">
                        <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                        <p class="article__information__text">El sector sigue experimentando un crecimiento saludable</p>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>