.publicity{
    display: flex;
    justify-content: center;
    margin-top: 62px;
    .publicity-img{
        margin-top: 31px;
        margin-bottom: 31px;
        height: 90px;
        width: auto;
    }
}

@media (max-width:680px){
    .publicity{
        margin-top: 56px;
        .publicity-img{
            margin-top: 15px;
            margin-bottom: 33px;
            height: auto;
            max-width: 320px;
            width: 100%;
        }
    }
}