<div class="category-post">
    <div class="image-post">
        <img class="image-post__img" src="./../../../assets/img/Manofactura-img.png" alt="">
        <p class="patrocinador">Patrocinado por Kimberly-Clark</p>
        <div class="image-post__ref-image">
            <span></span>
            <p>89 Ed. 2 Digital</p>
        </div>
        <span class="image-post__mic-bottom"></span>
        <div class="image-post__info-post">
            <div class="category">
                <p>Manufactura</p>
            </div>
            <div class="sub-category">
                <p>Ilot</p>
            </div>
        </div>
    </div>
    <div class="text-post">
        <h1 class="text-post__title">UR16e, cobot para manejo de materiales de Univrsal Robots</h1>
        <p class="text-post__descriptiion">Este cobot es ideal para autorizar tareas como manejo de materiales pesados</p>
        <div class="text-post__data-post">
            <p class="autor">Alaín Castillo</p>
            <p class="date">Nov 28, 2021</p>
        </div>
    </div>
</div>