.articulos-destacados{
    margin-left: 17px;
    margin-top: 32px;
    margin-right: 45px;
    margin-bottom: 53px;
    .article-title{
        font-size: 14px;
        font-weight: 700;
    }
    .articles{
        .article{
            align-items: center;
            display: flex;
            margin-bottom: 16px;
            max-width: 281px;
            width: auto;
            .img{
                height: 85px;
                width: 80px;    
            }
            .information{
                padding-left: 18px;
                .title{
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }
    }
}