<div class="articulos-destacados">
    <p class="article-title">ARTÍCULOS</p>
    <div class="articles">
        <div class="article">
            <img src="https://i.postimg.cc/Gtf5pmTL/Rectangle-11.png" alt="">
            <div class="information">
                <h3 class="title">Famex 2021 cambia de sede por pandemia</h3>
                <div class="data-post">
                    <p class="autor">Alaín Castillo</p>
                    <p class="date">Nov 28, 2021</p>
                </div>
            </div>
        </div>
        <div class="article">
            <img src="https://i.postimg.cc/mrVVDgKv/Rectangle-11-1.png" alt="">
            <div class="information">
                <h3 class="title">AIM3D presenta la innovadora impresora 3D de pellets ExAM 510</h3>
                <div class="data-post">
                    <p class="autor">Alaín Castillo</p>
                    <p class="date">Nov 28, 2021</p>
                </div>
            </div>
        </div>
    </div>
</div>