<div class="header-section">
    <h2 class="title">LA NUEVA NORMALIDAD INDUSTRIAL</h2>
    <a href="/" class="see-edition">VER EDICIÓN</a>
</div>
<div class="content">
    <div class="first-column">
        <app-manufactura class="article"></app-manufactura>
        <div class="recent-article">
            <p class="section-title">PRODUCTO DESTACADO</p>
            <div class="article">
                <img class="article__img" src="./../../../assets/img/Photo.png" alt="" width="260" height="172">
                <img class="article__img-mobile" src="./../../../assets/img/Photo-monile.png" alt="" width="320" height="172">
                <div class="article__information">
                    <h3 class="article__information__title">El nuevo SINUMERIK CNC pasa a formar parte del Siemens TIA Portal</h3>
                    <p class="article__information__text">Como parte del Totally Integrated Automation (TIA) Portal, los constructores de máquinas pueden reducir sus tiempos de desarrollo</p>
                    <div class="data-post">
                        <p class="autor">Alaín Castillo</p>
                        <p class="date">Nov 28, 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="articulos-destacados">
        <p class="section-title">PRODUCTOS RELACIONADOS</p>
        <div class="articles">
            <div class="article">
                <img class="article__img" src="https://i.postimg.cc/Gtf5pmTL/Rectangle-11.png" alt="">
                <div class="article__information">
                    <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                    <div class="data-post">
                        <p class="autor">Alaín Castillo</p>
                        <p class="date">Nov 28, 2021</p>
                    </div>
                </div>
            </div>
            <div class="article">
                <img class="article__img" src="https://i.postimg.cc/mrVVDgKv/Rectangle-11-1.png" alt="">
                <div class="article__information">
                    <h3 class="article__information__title">AIM3D presenta la innovadora impresora 3D de pellets ExAM 510</h3>
                    <div class="data-post">
                        <p class="autor">Alaín Castillo</p>
                        <p class="date">Nov 28, 2021</p>
                    </div>
                </div>
            </div>
            <div class="article">
                <img class="article__img" src="https://i.postimg.cc/Gtf5pmTL/Rectangle-11.png" alt="">
                <div class="article__information">
                    <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                    <div class="data-post">
                        <p class="autor">Alaín Castillo</p>
                        <p class="date">Nov 28, 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent-article mobile">
            <p class="section-title">ARTICULOS RELACIONADOS</p>
            <div class="article">
                <img class="article__img" src="./../../../assets/img/Rectangle 8 (1).png" alt="" width="288" height="172">
                <div class="article__information">
                    <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                    <p class="article__information__text">El sector sigue experimentando un crecimiento saludable</p>
                    <div class="data-post">
                        <p class="autor">Alaín Castillo</p>
                        <p class="date">Nov 28, 2021</p>
                    </div>
                </div>
            </div>
            <div class="article-mobile">
                <div class="article">
                    <img class="article__img" src="https://i.postimg.cc/Gtf5pmTL/Rectangle-11.png" alt="">
                    <div class="article__information">
                        <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <img class="article__img" src="https://i.postimg.cc/mrVVDgKv/Rectangle-11-1.png" alt="">
                    <div class="article__information">
                        <h3 class="article__information__title">AIM3D presenta la innovadora impresora 3D de pellets ExAM 510</h3>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <img class="article__img" src="https://i.postimg.cc/Gtf5pmTL/Rectangle-11.png" alt="">
                    <div class="article__information">
                        <h3 class="article__information__title">Famex 2021 cambia de sede por pandemia</h3>
                        <div class="data-post">
                            <p class="autor">Alaín Castillo</p>
                            <p class="date">Nov 28, 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="publicidad" src="./../../../assets/img/image 4.png" alt="pUBLICIDAD PAGADA" width="280" height="280">
</div>