.article{
    align-items: center;
    display: flex;
    margin-bottom: 16px;
    max-width: 281px;
    width: auto;
    &__img{
        height: 85px;
        width: 80px;    
    }
    &__information{
        padding-left: 15px;
        height: 78px;
        &__title{
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.2px;
            line-height: 18px;
            margin-bottom:7px;
        }
    }
}
@media (max-width: 680px){
    .article{
        align-items: center;
        display: flex;
        margin-bottom: 15px;
        width: auto;
        &__img{
            height: 80px;
            width: 80px;   
        }
        &__information{
            padding-left: 15px;
            height: 78px;
            &__title{
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.2px;
                line-height: 19px;
                margin-bottom:7px;
            }
        }
    }
}