<div class="mas-leido">
    <h2>MAS LEIDO</h2>
    <div class="articles">
        <div class="article">
            <img src="" alt="">
            <h3 class="article-title">¿Cómo los robots mexicanos están apoyando ante el COVID-19?</h3>
            <p class="article-text">Hay empresas en el país que están desarrollando soluciones innovadoras...</p>
            <div class="data-post">
                <p class="autor">Alaín Castillo</p>
                <p class="date">Nov 28, 2021</p>
            </div>
        </div>
        <div class="article">
            <img src="" alt="">
            <h3 class="article-title">¿Cómo los robots mexicanos están apoyando ante el COVID-19?</h3>
            <p class="article-text">Hay empresas en el país que están desarrollando soluciones innovadoras...</p>
            <div class="data-post">
                <p class="autor">Alaín Castillo</p>
                <p class="date">Nov 28, 2021</p>
            </div>
        </div>
        <div class="article">
            <img src="" alt="">
            <h3 class="article-title">¿Cómo los robots mexicanos están apoyando ante el COVID-19?</h3>
            <p class="article-text">Hay empresas en el país que están desarrollando soluciones innovadoras...</p>
            <div class="data-post">
                <p class="autor">Alaín Castillo</p>
                <p class="date">Nov 28, 2021</p>
            </div>
        </div>
        <div class="article">
            <img src="" alt="">
            <h3 class="article-title">¿Cómo los robots mexicanos están apoyando ante el COVID-19?</h3>
            <p class="article-text">Hay empresas en el país que están desarrollando soluciones innovadoras...</p>
            <div class="data-post">
                <p class="autor">Alaín Castillo</p>
                <p class="date">Nov 28, 2021</p>
            </div>
        </div>
    </div>
</div>