<p>product.list works!</p>
<ul>
    <li>
        <p> producto1 </p>
        <img src="https://i.postimg.cc/VkP0JrkC/2-F79-BF85-49-CB-4495-AAFA-DF4734-B36-E77.jpg" alt="">
        <h2>Messages never touch our servers. They're sent directly to the platforms preserving end-to-end encryption. We make money by charging you a monthly subscription.
        </h2>
        <button mat-button>info</button>
    </li> 
    <li>
        <p> producto2 </p>
        <img src="https://i.postimg.cc/VkP0JrkC/2-F79-BF85-49-CB-4495-AAFA-DF4734-B36-E77.jpg" alt="">
        <h2>Messages never touch our servers. They're sent directly to the platforms preserving end-to-end encryption. We make money by charging you a monthly subscription.
        </h2>
        <button mat-button>info</button>
    </li> 
    <li>
        <p> producto3 </p>
        <img src="https://i.postimg.cc/VkP0JrkC/2-F79-BF85-49-CB-4495-AAFA-DF4734-B36-E77.jpg" alt="">
        <h2>Messages never touch our servers. They're sent directly to the platforms preserving end-to-end encryption. We make money by charging you a monthly subscription.
        </h2>
        <button mat-button>info</button>
    </li> 
    <li>
        <p> producto4 </p>
        <img src="https://i.postimg.cc/VkP0JrkC/2-F79-BF85-49-CB-4495-AAFA-DF4734-B36-E77.jpg" alt="">
        <h2>Messages never touch our servers. They're sent directly to the platforms preserving end-to-end encryption. We make money by charging you a monthly subscription.
        </h2>
        <button mat-button>info</button>
    </li> 
</ul>