<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img src="https://i.postimg.cc/nr0DY6FW/Logo-RI-Mobile.png" alt="Logo de reportero industrial" class="logo-mobile">
      <div class="adc-btn">
        <a class="button">ACCEDER</a>
      </div>
      <span class="icon-search"></span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

<header>
  <span class="icon-menu"></span>
  <img class="logo" src="https://i.postimg.cc/Bv7Z25Gg/Logo-RI-1.png" alt="Logo de reportero industrial">
  <nav class="container-header">
    <a routerLink="/home"  routerLinkActive="active">HOME</a>
    <a routerLink="/products" routerLinkActive="active">CATREGORÍAS</a>
    <a routerLink="/contact" routerLinkActive="active">EVENTOS</a>
    <a routerLink="/ediciones" routerLinkActive="active">EDICIONES</a>
  </nav>
  <div class="adc-btn">
    <a class="button">ACCEDER</a>
  </div>
  <span class="icon-search"></span>
</header>
