<header>
  <span class="icon-menu"></span>
  <img class="logo" src="https://i.postimg.cc/Bv7Z25Gg/Logo-RI-1.png" alt="Logo de reportero industrial">
  <img src="https://i.postimg.cc/nr0DY6FW/Logo-RI-Mobile.png" alt="Logo de reportero industrial" class="logo-mobile">
  <nav class="container-header">
    <a routerLink="/home"  routerLinkActive="active">HOME</a>
    <a routerLink="/products" routerLinkActive="active">CATREGORÍAS</a>
    <a routerLink="/contact" routerLinkActive="active">EVENTOS</a>
    <a routerLink="/ediciones" routerLinkActive="active">EDICIONES</a>
  </nav>
  <div class="adc-btn">
    <a class="button">ACCEDER</a>
  </div>
  <span class="icon-search"></span>
</header>
