p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: chocolate;
    font-size: 25px;
    font-weight: 900;
}
img{
    width: 100%;
    height: 500px;
}
h2{
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}