@import './../../assets/scss/config/variables';

p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: chocolate;
    font-size: 25px;
    font-weight: 900;
}
img{
    width: 100%;
    height: 500px;
}
h2{
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

.publicity-container{
    display: flex;
    justify-content: center;
    margin-top: 62px;
    .publicity{
        margin-top: 31px;
        margin-bottom: 31px;
        height: 90px;
        width: auto;
    }
}

@media (max-width:680px){
    .publicity-container{
        margin-top: 56px;
        .publicity{
            margin-top: 36px;
            margin-bottom: 33px;
            height: 31px;
            max-width: 320px;
            width: 100%;
        }
    }
}