<div class="container">
    <nav class="categories-container">
        <div class="categories">
            <h2 class="categories-title">CATEGORÍAS</h2>
            <a *ngFor="let div of fillerNav">{{div.name}}</a>
        </div>
        <div class="categories-mobile">
            <h2 class="categories-title">CATEGORÍAS</h2>
            <a *ngFor="let div of fillerNavMobile">{{div.name}}</a>
        </div>
    </nav>
    <app-manufactura class="app-manufactura"></app-manufactura>
    <div>
        <app-articulos></app-articulos>
        <app-articulos></app-articulos>
    </div>
</div>