@import './../../../assets/scss/config/variables';

.container{
    display: flex;
    max-width: 100%;
    justify-content: center;
    .categories-container{
        padding-left: 38px;
        padding-top: 26px;
        .categories-mobile{
            display: none; 
        }
        .categories{
            display: flex;
            flex-direction: column;
            width: auto;
            h2{
                font-size: 14px;
                margin-left: 1.5px;
                position: absolute;
                letter-spacing: 0.1px;
            }
            .a{
                text-align: left;
                border: 1px solid #E9ECEF;
                background: transparent;
                color: color(primary, dark);
                cursor: pointer;
                font-size: 14px;
                padding: 8px 36px 8px 8px;
                text-decoration: none;
                margin-bottom: 8px;
                width: 200px;
                &:hover{
                    background: color(primary, dark);
                    color: white;
                    transition: 1s;
                }
            }
        }
    }
    .app-manufactura{
        max-width: 692px;
        width: 100%;
    }
}
@media(max-width:765px){
    .container{
        flex-direction: column;
        padding:0;
        .categories-container{
            padding:0;
            .categories-mobile{
                display: block;
                h2{
                    padding: 15px 9px;
                    font-size: 12px;
                    line-height: 19px;
                    letter-spacing: 0.15px;
                }
                .slide{
                    font-family: $font-primary;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 300;
                    padding: 15px 9px;
                    line-height: 14px;
                    letter-spacing: 0em;
                    width: fit-content !important;
                }
            }
            .categories{
                display: none;
            }
        }
        .app-manufactura{
            max-width: none;
        }
    }
}
