<div class="container">
    <nav class="categories-container">
        <div class="categories">
            <h2 class="categories-title">CATEGORÍAS</h2>
            <a>Mercadeo automotriz</a>
            <a>Manufactura</a>
            <a>Tecnologia de procesos</a>
            <a>Seguridad industrial</a>
            <a>Manejo de materiales</a>
            <a>Sostenibilidad</a>
            <a>Robótica</a>
        </div>
    </nav>
    <app-manufactura class="app-manufactura"></app-manufactura>
    <div>
        <app-articulos></app-articulos>
        <app-articulos></app-articulos>
    </div>
</div>