.categories-container{
    .categories{
        .mat-primary{
            display: flex;
            flex-direction: row;
            .mat-tab-header{
                .mat-tab-list{
                    .mat-tab-labels{
                        display: flex;
                        flex-direction: column;
                        .mat-tab-label{
                            .mat-tab-label-content{
                                text-align: left;
                                border: 1px solid #E9ECEF;
                                background: transparent;
                                color: #3B5875;
                                cursor: pointer;
                                font-size: 14px;
                                padding: 8px 36px 8px 8px;
                                text-decoration: none;
                                margin-bottom: 8px;
                                width: 200px;
                                &:hover{
                                    background: #3B5875;
                                    color: white;
                                    transition: 1s;
                                }
                            }
                            &.mat-tab-label-active{
                                .mat-tab-label-content{
                                    background: #3B5875;
                                    color: white;
                                    transition: 1s;
                                }
                            }  
                        }
                    }
                    .mat-ink-bar{
                        visibility: hidden !important;
                    }
                }
            }
        }
    }
}