.data-post{
    display: flex;
    align-items: center;
    .autor{
        color: #FF7158;
        font-size: 12px;
    }
    .date{
        color: #6D6D6D;
        margin-left: 20px;
        font-size: 12px;
    }
}