header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9rem;
    box-shadow: 0px 3px 4px rgba(233, 236, 239, 0.3);
    border: 1px solid #E9ECEF;
    max-height: 58px;
    .icon-menu{
        display: none;
    }
    .logo{
        height: 25px;
    }
    .logo-mobile{
        display: none;
    }
    .container-header{
        top: 0;
        width: 100%;
        margin-left: 10%;
        display: flex;
        a{
            font-family: $font-primary;
            font-size: 12px;
            font-weight: bold;
            padding-top: 22px;
            padding-bottom: 16px;
            margin-right: 18px;
            margin-left: 18px;
            text-decoration: none;
            color: color(primary, light);
            &.active{
                border-bottom: 2px solid color(border, color-1);
            }
            &:hover{
                border-bottom: 2px solid color(border, color-1);
            }
        }
    }
    .adc-btn{
        border-right: 1px solid #E9ECEF;
        .button{
            font-family: $font-primary;
            font-size: 12px;
            font-weight:bold;
            padding: 10px 8px;
            background: color(primary, light);
            border-radius: 0px;
            cursor: pointer;
            color: white;
            margin-right: 27px;
            &:hover{
                background-color: #005285a4;   
            }
        }
    }
    .icon-search{
        font-size: 20px;
        color: color(primary, light);
        margin-left: 27px;
    }
}

@media (max-width:765px){
    header{
        padding: 1rem 2rem;
        .icon-menu{
            display: block;
            color: color(primary, light);
            font-size: 20px;
        }
        .logo{
            display: none;
        }
        .logo-mobile{
            display: block;
            height: 25px
        }
        .container-header{
            display: none;
        }
        .adc-btn{
            border: none;
            .button{
                margin-right: 0;
            }
        }
        .icon-search{
            margin-left: 0;
        }
    }
}