.categories-mobile{
    overflow: hidden;
    button{
        display: none !important;
    }
    .slick-list{
        .slick-track{
            display: flex;
            align-items: center;
            background: #E9ECEF;
        }
    }
}
.editions-mobile{
    .slick-list{
        overflow: hidden; 
        padding-left: 30px;        
        .slick-track{
            display: flex;
            align-items: center;
            .slick-slide{
                margin-right: 54px;
                margin-left: -16px;
            }
        }
    }
    .slick-arrow{
        display: none !important;
    }
}