<footer class="footer">
    <div class="left-section">
        <img class="logo" src="./../../../assets/img/Logo RI.png" alt="" width="230" height="28">
        <p class="info">Reportero Industrial ofrece información direccionada a la transformación tecnológica y de los negocios en las industrias manufactureras de América Latina. Genera contenidos de gestión y estrategia, así como temas de desarrollos tecnológicos y novedades que marcan las tendencias de esta industria.</p>
        <div class="redirect">
            <a class="link" href="/">Categorías</a>
            <a class="link" href="/">Eventos</a>
            <a class="link" href="/">Ediciones</a>
            <a class="link" href="/">Suscripción</a>
        </div>
        <p class="copyright">© Copyright 2021 Axioma.</p>
    </div>
    <div class="right-section">
        <p class="follow-us">Síguenos</p>
        <div class="redes">
            <span class="icon-facebook-with-circle"></span>
            <span class="icon-linkedin-with-circle"></span>
            <span class="icon-youtube-with-circle"></span>
        </div>
        <div class="redirect-mobile">
            <a class="link" href="/">Categorías</a>
            <a class="link" href="/">Eventos</a>
            <a class="link" href="/">Ediciones</a>
            <a class="link" href="/">Suscripción</a>
        </div>
        <p class="copyright-mobile">© Copyright 2021 Axioma.</p>
    </div>
</footer>