@import './../../../assets/scss/config/variables';


.category-post{
    padding-left: 8px; 
    padding-bottom: 0;
    max-width: 702px;
    width: 100%;
    border-bottom: 1px solid #E9ECEF;
    .image-post{
        &__img{
            max-width: 100%;
            width: auto; 
        }
        &__ref-image{
            align-items: center;
            background: #E53212;
            display: flex;
            padding: 3px 9px;
            position: absolute;
            top: 0px;
            width: fit-content;
            span{
                background: url('https://i.postimg.cc/kG1DcmCZ/Edition-Icon-White.png');
                background-position: center;
                background-size: contain;
                display: block;
                height: 15.4px;
                width: 16px;
            }
            p{
                color: white;
                font-size: 13px;
                margin: 0;
                padding-left: 12px;
            }
        }
        &__mic-bottom{
            background: url('https://i.postimg.cc/3N4zLsDN/Pordcast-content-Tag.png');
            background-position: center;
            background-size: contain;
            display: block;
            position: absolute;
            top: 0px;
            right: 2px;
            height: 32px;
            width: 32px;
        }
        &__info-post{
            display: flex;
            position: absolute;
            top: 267px;
            .category{
                background: #05111DB2;
                opacity: 70%;
                p{
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                    padding: 7px 4px;
                }
            }
            .sub-category{
                background: #05111DB2;
                opacity: 70%;
                margin-left: 3px;
                p{
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0;
                    padding: 7px 4px;
                }
            }
        }
    }
    .text-post{
        &__title{
            color: black;
            font-size: 35px;
            font-weight: 700;
            letter-spacing: 0.9px;
            line-height: 38px;
            margin-bottom: 16px;
            margin-top: 9px;
        }
        &__descriptiion{
            font-size: 24px;
            letter-spacing: 0.7px;
            font-weight: 300;
            margin-bottom: 18px;
            line-height: 32px;
        }
        &__data-post{
            display: flex;
            align-items: center;
            .autor{
                color: #FF7158;
                font-size: 14px;
            }
            .date{
                color: #6D6D6D;
                margin-left: 20px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 768px){
    .category-post{
        padding: 0;
        .image-post{
            &__img{
                height: 172px;
            }
            &__mic-bottom{
                right: 0;
            }
            &__info-post{
                top: 140px;
                .category{
                    p{
                        font-size: 12px;
                    }
                }
                .sub-category{
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
        .text-post{
            &__title{
                padding: 9px 19px;
                font-size: 26px;
                letter-spacing: 0.8px;
                line-height: 32px;
                margin-bottom: 0px;
            }
            &__descriptiion{
                padding: 0 20px;
                line-height: 22px;
                letter-spacing: 0.9px;
                font-size: 13px;
                margin-top: 5px;
            }
            &__data-post{
                padding: 0 20px;
                border-bottom: 1px solid rgb(170, 170, 170);
            }
        }
    }
}