<div class="category-post">
    <div class="image-post">
        <img src="https://i.postimg.cc/4yNjGCcX/Rectangle-3.png" alt="">
        <div class="ref-image">
            <span></span>
            <p>89 Ed. 2 Digital</p>
        </div>
        <span class="mic-bottom"></span>
        <div class="info-post">
            <div class="category">
                <p>Tecnología</p>
            </div>
            <div class="sub-category">
                <p>Ilot</p>
            </div>
        </div>
    </div>
    <div class="text-post">
        <h1 class="title-post">Cinco tecnologías clave para digitalizar operaciones</h1>
        <p class="descriptiion-post">La nueva realidad impuesta por la pandemia ha revivido la necesidad de la digitalización a nivel global, convirtiendose...</p>
        <div class="data-post">
            <p class="autor">Alaín Castillo</p>
            <p class="date">Nov 28, 2021</p>
        </div>
    </div>
</div>